{% extends "base.html" %}

{% block app_content %}
	<h2>About YCMD</h2> <br>
    <p>	    	
    	<a target='_blank' rel='noopener noreferrer' href="https://rumo.biologie.hu-berlin.de/tbp/index.php/en/"><img src="/static/images/tbp_logo_vect.svg" alt="TBP" style="width:100px; float:left; margin:0px 50px 0px 0px;"></a>
    	<h3>Contact</h3>
    	YCMD is hosted by the Group of <a target='_blank' rel='noopener noreferrer' href="https://rumo.biologie.hu-berlin.de/tbp/index.php/en/">Theoretical Biophysics (TBP)</a> at Humboldt-University Berlin <br>
    	For questions, suggestions, criticism and praise please contact: <a href="mailto:support@ycmdb.de">support@ycmdb.de</a> or create an issue on our gitlab repository: <a target='_blank' rel='noopener noreferrer' href="https://ford.biologie.hu-berlin.de/kai/ycm_db_kai/issues">YCM/issues</a>
    </p><br>
    <p>
    	YCMDB references content from the following databases:
    	<ul>
    		<li><a target='_blank' rel='noopener noreferrer' href="https://www.yeastgenome.org/">Saccharomyces Genome Database | SGD</a></li>
    		<li><a target='_blank' rel='noopener noreferrer' href="https://www.ebi.ac.uk/chebi/">Chemical Entities of Biological Interest (ChEBI)</a></li>
    		<li><a target='_blank' rel='noopener noreferrer' href="https://pubchem.ncbi.nlm.nih.gov/">PubChem</a></li>
    		<li><a target='_blank' rel='noopener noreferrer' href="https://pubmed.ncbi.nlm.nih.gov/">PubMed</a></li>
    	</ul>
    </p>    
    
{% endblock %}